{% extends 'base.html.twig' %}

{% block body %}

    <div class="text-center">
        <h1>Скидка на всі товари в процентах </h1>
        
        <a href="{{ path('percent_edit', { 'id': percent.id }) }}"><button type="submit" class="ui-button ui-corner-all ui-widget">Редагувати</button></a><br/><br/>
    </div>
    
    <div class="text-marning">
        <b>{{ percent.percent | raw}} %</b>
    </div>        
    <br/><br/><br/><br/>  

{% endblock %}
