{% extends 'base.html.twig' %}

{% block body %}

    sdfsdf sdfsd sdfsdf sdfds

    <code>{{ base_dir }}/</code>

    <img src="./img/str_fr.png" id="str_fr"><img src="./img/str_long.png" id="str_long"><div class="str_slog">Забезпечуючи ваших рішень підвіски</div>

    <center>

        <h1>Каталог продукції</h1>


        <form method="POST">
            <select onchange="window.location.href = & quot; catalogue.php? & quot; + this.options[this.selectedIndex].text + & quot; & amp; m1 = & quot; + this.options[this.selectedIndex].value" class="cat">
                <option value="">Вибрати</option>
                <option value="4587" selected="">
                    ALFA ROMEO
                </option>    	
                <option value="4980">
                    VW
                </option>
            </select>

            <select onchange="window.location.href = & quot; catalogue.php?ALFA - ROMEO - & quot; + this.options[this.selectedIndex].text + & quot; & amp; m1 = 4587 & amp; m2 = & quot; + this.options[this.selectedIndex].value" class="cat">
                <option value="">Вибрати</option>
                <option value="4587" selected="">
                    145
                </option>
                <option value="7669">
                    SPIDER (939)
                </option>
            </select>

            <select onchange="window.location.href = & quot; catalogue.php?ALFA - ROMEO - 145 - & quot; + this.options[this.selectedIndex].text + & quot; & amp; m1 = 4587 & amp; m2 = 4587 & amp; m3 = & quot; + this.options[this.selectedIndex].value + & quot; & amp; s = 0 & quot;" class="cat">
                <option value="">Вибрати</option>
                <option value="4587" selected="">
                    01.1994-01.1997
                </option>
                <option value="4588">
                    01.1997-01.2001
                </option>
            </select>
            <br>

            <br>
            <table border="0" style="text-align:center">
                <tbody><tr><td><img style="cursor:pointer;" src="./img/front_on.png" onclick="window.location.href = & quot; catalogue.php?ALFA - ROMEO - 145 - 01.1994 - 01.1997 & amp; m1 = 4587 & amp; m2 = 4587 & amp; m3 = 4587 & amp; t = 235 & amp; s = 2 & quot;"></td>
                        <td><img style="cursor:pointer; border-left: solid" src="./img/back_on.png" onclick="window.location.href = & quot; catalogue.php?ALFA - ROMEO - 145 - 01.1994 - 01.1997 & amp; m1 = 4587 & amp; m2 = 4587 & amp; m3 = 4587 & amp; t = 235 & amp; s = 1 & quot;"></td>
                        <td width="30"></td>
                        <td><img style="cursor:pointer;" align="left" src="./img/shock_on.png" onclick="window.location.href = & quot; catalogue.php?ALFA - ROMEO - 145 - 01.1994 - 01.1997 & amp; m1 = 4587 & amp; m2 = 4587 & amp; m3 = 4587 & amp; s = 0 & amp; t = 25 & quot;"></td>


                    </tr>

                    <tr><td style="font-size:11px">
                            передня  <input type="checkbox" name="s11" checked="" onchange="window.location.href = & quot; catalogue.php?ALFA - ROMEO - 145 - 01.1994 - 01.1997 & amp; m1 = 4587 & amp; m2 = 4587 & amp; m3 = 4587 & amp; t = 235 & amp; s = 2 & quot;"> 
                        </td><td style="font-size:11px">
                            задня  <input type="checkbox" name="s12" checked="" onchange="window.location.href = & quot; catalogue.php?ALFA - ROMEO - 145 - 01.1994 - 01.1997 & amp; m1 = 4587 & amp; m2 = 4587 & amp; m3 = 4587 & amp; t = 235 & amp; s = 1 & quot;">
                        </td><td></td>
                        <td>Амортизатор  <input type="checkbox" name="t3" checked="" onchange="window.location.href = & quot; catalogue.php?ALFA - ROMEO - 145 - 01.1994 - 01.1997 & amp; m1 = 4587 & amp; m2 = 4587 & amp; m3 = 4587 & amp; s = 0 & amp; t = 25 & quot;"></td>


                    </tr></tbody></table>

        </form>

        <br><br>
        <!-- WYNIKI -->

        <table border="0" class="catalog">
            <tbody><tr><td><b>Код GH</b></td><td><b>Сторона</b></td><td><b>Застосування</b></td><td><b>Фото</b></td></tr>
                <tr><td colspan="4"><hr></td></tr>
                <tr><td>



                        <b>Shock Absorber Oil <br>



                            GH-302330</b> 

                        <br>


                        <a href="http://gh-parts.eu/catalogue.php?ALFA-ROMEO-145-01.1994-01.1997&amp;m1=4587&amp;m2=4587&amp;m3=4587&amp;item=GH-302330">
                            <img src="./img/info-small.png" style="border:0"></a>


                    </td>
                    <td>Rear<br>Right=Left<br></td><td>All models</td><td>
                        <a href="http://gh-parts.eu/catalogue.php?ALFA-ROMEO-145-01.1994-01.1997&amp;m1=4587&amp;m2=4587&amp;m3=4587&amp;s=0#" title="&lt;img src=&#39;http://img.gh-parts.eu/GH-302330.jpg&#39; class=&#39;img_big&#39;&gt;&lt;br&gt;&lt;b&gt;Shock Absorber - GH-302330&lt;/b&gt;&lt;br&gt;Rear Right=Left  FIAT BRAVA BRAVO TIPO Oil">
                            <img src="./img/camera.png"></a>
                    </td></tr>
                <tr><td colspan="5">
                        <div class="showApplication" onclick="showApplication( & #39; GH - 302330 & #39; );" id="showApplication_GH-302330">Дисплей додаткових додатків</div>
                        <div class="showApplication" style="display:none;" onclick="hideApplication( & #39; GH - 302330 & #39; );" id="hideApplication_GH-302330">hide</div>
                        <div style="display:none;" id="application_GH-302330">
                            <table>
                                <tbody><tr>
                                        <td>ALFA ROMEO</td>
                                        <td>145</td>
                                        <td>01.1994-01.1997</td>
                                        <td>All models </td>
                                    </tr>
                                    <tr><td colspan="4" style="color:red; font-weight:bold; font-size:9px; position:relative;top:-6px">Standard chassis</td></tr><tr>
                                        <td>ALFA ROMEO</td>
                                        <td>145</td>
                                        <td>01.1997-01.2001</td>
                                        <td>All models </td>
                                    </tr>
                                    <tr><td colspan="4" style="color:red; font-weight:bold; font-size:9px; position:relative;top:-6px">Standard chassis</td></tr><tr>
                                        <td>ALFA ROMEO</td>
                                        <td>146</td>
                                        <td>01.1994-01.1997</td>
                                        <td>All models </td>
                                    </tr>
                                    <tr><td colspan="4" style="color:red; font-weight:bold; font-size:9px; position:relative;top:-6px">Standard chassis</td></tr><tr>
                                        <td>ALFA ROMEO</td>
                                        <td>146</td>
                                        <td>01.1997-01.2001</td>
                                        <td>All models </td>
                                    </tr>
                                    <tr><td colspan="4" style="color:red; font-weight:bold; font-size:9px; position:relative;top:-6px">Standard chassis</td></tr><tr>
                                        <td>ALFA ROMEO</td>
                                        <td>155 (167)</td>
                                        <td>02.1992-10.1997</td>
                                        <td>All models  Exc.: 2.0 Turbo 16 (Q4) 4WD</td>
                                    </tr>
                                    <tr><td colspan="4" style="color:red; font-weight:bold; font-size:9px; position:relative;top:-6px">Standard chassis</td></tr><tr>
                                        <td>FIAT</td>
                                        <td>BRAVA (182)</td>
                                        <td>01.1995-12.2001</td>
                                        <td>All models </td>
                                    </tr>
                                    <tr><td colspan="4" style="color:red; font-weight:bold; font-size:9px; position:relative;top:-6px">Standard chassis</td></tr><tr>
                                        <td>FIAT</td>
                                        <td>BRAVO I (182)</td>
                                        <td>01.1995-12.2001</td>
                                        <td>All models </td>
                                    </tr>
                                    <tr><td colspan="4" style="color:red; font-weight:bold; font-size:9px; position:relative;top:-6px">Standard chassis</td></tr><tr>
                                        <td>FIAT</td>
                                        <td>MAREA (185)</td>
                                        <td>01.1996-12.2003</td>
                                        <td>All models </td>
                                    </tr>
                                    <tr><td colspan="4" style="color:red; font-weight:bold; font-size:9px; position:relative;top:-6px">Standard chassis</td></tr><tr>
                                        <td>FIAT</td>
                                        <td>MAREA WEEKEND (185)</td>
                                        <td>01.1996-12.2003</td>
                                        <td>All models </td>
                                    </tr>
                                    <tr><td colspan="4" style="color:red; font-weight:bold; font-size:9px; position:relative;top:-6px">Standard chassis</td></tr><tr>
                                        <td>FIAT</td>
                                        <td>MULTIPLA (186)</td>
                                        <td>10.1998-&gt;</td>
                                        <td>All models </td>
                                    </tr>
                                    <tr><td colspan="4" style="color:red; font-weight:bold; font-size:9px; position:relative;top:-6px">Standard chassis</td></tr><tr>
                                        <td>FIAT</td>
                                        <td>PALIO WEEKEND (178)</td>
                                        <td>01.1997-02.2001</td>
                                        <td>All models </td>
                                    </tr>
                                    <tr><td colspan="4" style="color:red; font-weight:bold; font-size:9px; position:relative;top:-6px">Standard chassis</td></tr><tr>
                                        <td>FIAT</td>
                                        <td>PALIO WEEKEND (178)</td>
                                        <td>03.2001-&gt;</td>
                                        <td>All models </td>
                                    </tr>
                                    <tr><td colspan="4" style="color:red; font-weight:bold; font-size:9px; position:relative;top:-6px">Standard chassis</td></tr><tr>
                                        <td>FIAT</td>
                                        <td>TEMPRA (159)</td>
                                        <td>01.1990-12.1996</td>
                                        <td>All models </td>
                                    </tr>
                                    <tr><td colspan="4" style="color:red; font-weight:bold; font-size:9px; position:relative;top:-6px">Standard chassis</td></tr><tr>
                                        <td>FIAT</td>
                                        <td>TEMPRA STATION WAGON (159)</td>
                                        <td>01.1990-12.1996</td>
                                        <td>All models </td>
                                    </tr>
                                    <tr><td colspan="4" style="color:red; font-weight:bold; font-size:9px; position:relative;top:-6px">Standard chassis</td></tr><tr>
                                        <td>FIAT</td>
                                        <td>TIPO (160)</td>
                                        <td>01.1988-12.1995</td>
                                        <td>All models </td>
                                    </tr>
                                    <tr><td colspan="4" style="color:red; font-weight:bold; font-size:9px; position:relative;top:-6px">Standard chassis</td></tr><tr>
                                        <td>LANCIA</td>
                                        <td>DEDRA (835)</td>
                                        <td>03.1989-06.1994</td>
                                        <td>All models </td>
                                    </tr>
                                    <tr><td colspan="4" style="color:red; font-weight:bold; font-size:9px; position:relative;top:-6px">Standard chassis</td></tr><tr>
                                        <td>LANCIA</td>
                                        <td>DEDRA (835)</td>
                                        <td>07.1994-12.1997</td>
                                        <td>All models  Incl.: KOMBI</td>
                                    </tr>
                                    <tr><td colspan="4" style="color:red; font-weight:bold; font-size:9px; position:relative;top:-6px">Standard chassis</td></tr><tr>
                                        <td>LANCIA</td>
                                        <td>DEDRA (835)</td>
                                        <td>12.1997-09.1999</td>
                                        <td>All models  Incl.: KOMBI</td>
                                    </tr>
                                    <tr><td colspan="4" style="color:red; font-weight:bold; font-size:9px; position:relative;top:-6px">Standard chassis</td></tr><tr>
                                        <td>LANCIA</td>
                                        <td>DELTA (836)</td>
                                        <td>09.1993-12.2000</td>
                                        <td>All models </td>
                                    </tr>
                                    <tr><td colspan="4" style="color:red; font-weight:bold; font-size:9px; position:relative;top:-6px">Standard chassis</td></tr></tbody></table>
                        </div><hr></td></tr>

            </tbody></table>

    </center>
    <br><br>


{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function() {

        });
    </script>    
{% endblock %}