{% extends 'base.html.twig' %}

{% block body %}

    <div class="text-center">
        <h1>Задати емейл для прийому пошти:</h1>
        
        <a href="{{ path('emale_edit', { 'id': emale.id }) }}"><button type="submit" class="ui-button ui-corner-all ui-widget">Редагувати</button></a><br/><br/>        
    </div>
    
    <div class="text-marning">
      Емейл1:  {{ emale.emale | raw}} <br/>
        Емейл2:  {{ emale.emale2 | raw}}<br/>
        Емейл3: {{ emale.emale3 | raw}}
    </div>        
    <br/><br/><br/><br/>  

{% endblock %}