{% extends "::base.html.twig" %}

{% block title %}Авто {% if I != null %}{{ I.name|replace({"\n": " ", "\r\n": " ", "\t": " ", "\n\r": " "}) }}{% endif %} Амортизатори, Пружини, Поперечниі важілья{% endblock %}
{% block description %}Авто  {% if I != null %}{{ I.name|replace({"\n": " ", "\r\n": " ", "\t": " ", "\n\r": " "}) }}{% endif %} Амортизатори, Пружини, Поперечниі важілья{% endblock %}


{% block body %}

    <div class="text-center">
        <h1>Авто</h1>
    </div>
    <br/>

    <div class="text-marning">

        {% set isEnd = 1 %}
        {% set i = 0 %}

        <table style="width:100%">

            {% for auto in autoMenu %}

                {% if i % 3 == 0 %}
                    <tr>
                    {% set isEnd = 0 %}
                {% endif %}

                <td>

                    <div class="marning-smoll"><a
                                href="{{ path('products_data', { 'model_id': auto.modelMenuId, 'auto_id': auto.id }) }}">{{ auto.name }}</a>
                    </div>

                </td>

                {% if i % 3 == 2 %}
                    </tr>
                    {% set isEnd = 1 %}
                {% endif %}

                {% set i = i + 1 %}
            {% endfor %}

            {% if isEnd == 0 %}
                </tr>
            {% endif %}

        </table>

    </div>
    <br/><br/><br/><br/>


{% endblock %}
