{% extends "::base.html.twig" %}

{% block title %}Авто {% if I != null %}{{ I.name|replace({"\n": " ", "\r\n": " ", "\t": " ", "\n\r": " "}) }}{% endif %} Амортизатори, Пружини, Поперечниі важілья{% endblock %}
{% block description %}Авто  {% if I != null %}{{ I.name|replace({"\n": " ", "\r\n": " ", "\t": " ", "\n\r": " "}) }}{% endif %} Амортизатори, Пружини, Поперечниі важілья{% endblock %}


{% block body %}

    <div class="text-center">
        <h1>Авто</h1>
    </div>

    <div class="text-marning">

        {% for auto in autoMenu %} 
            <div class="marning-smoll"><a href="{{ path('products_data', { 'model_id': auto.modelMenuId, 'auto_id': auto.id }) }}">{{ auto.name }}</a></div>

        {% endfor %}     

    </div>        
    <br/><br/><br/><br/>  


{% endblock %}
