{% extends 'base.html.twig' %}

{% block body %}

    <div class="text-center">

        <h1>Рока Меню створення</h1>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="text" name="no_submit" id="no_submit" value="10" style="display: none;"> 
        <br/><button class="ui-button ui-corner-all ui-widget">Створити</button>
        {{ form_end(form) }}
        
        <br/> <a href="{{ path('datamenu_index') }}"><button class="ui-button ui-corner-all ui-widget">Вернутись назад</button></a><br/><br/>

    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {

            $(".mid").change(function () {
                $("#no_submit").val(1);
                $('form[name="shop_menubundle_datamenu"]').submit();
                
                //
                //alert($(".mid").val());
                //alert(window.location.href);
                //alert(document.URL);
                //location.reload(true);
                //alert(location.pathname);

                //location.replace(location.pathname+"?tr=147");

            });

/*
            var $sport = $('#meetup_sport');
            // When sport gets selected ...
            
            $sport.change(function () {
                // ... retrieve the corresponding form.
                var $form = $(this).closest('form');
                // Simulate form data, but only include the selected sport value.
                var data = {};
                data[$sport.attr('name')] = $sport.val();
                // Submit data via AJAX to the form's action path.
                $.ajax({
                    url: $form.attr('action'),
                    type: $form.attr('method'),
                    data: data,
                    success: function (html) {
                        // Replace current position field ...
                        $('#meetup_position').replaceWith(
                                // ... with the returned one from the AJAX response.
                                $(html).find('#meetup_position')
                                );
                        // Position field now displays the appropriate positions.
                    }
                });
            });
*/

        });
    </script>   
{% endblock %}